In [1]:
import pandas as pd
from talib_func import *
import os
import numpy as np
from gp_extend_func import *
from gplearn import genetic
import gplearn

In [2]:
df_lis = []
for csv_file in os.listdir("raw_data"):
    if csv_file == ".ipynb_checkpoints":
        continue
    df = pd.read_csv("raw_data/"+csv_file,index_col=0)
    df["return"] = df["close"].shift(-12)/df['close'] - 1
    df['return+-1'] = np.sign(df['return'])
    df.loc[df['return+-1']==0,'return+-1'] = -1
    df = df.dropna()
    print(df.shape)
    df_lis.append(df)

(109895, 26)
(100988, 26)
(100142, 26)
(109121, 26)
(100573, 26)
(99563, 26)

In [3]:
df = pd.concat(df_lis)

In [4]:
#查看了NAN
display(df[df.isna().any(axis=1)])
#向下填NAN
df = df.fillna(method='ffill')

#查看缺失值的比例
df.isnull().sum()/df.shape[0]

Empty DataFrame
Columns: [open_time, open, high, low, close, volume, alpha_006, alpha_007, alpha_009, alpha_012, alpha_021, alpha_023, alpha_024, alpha_026, alpha_035, alpha_041, alpha_043, alpha_046, alpha_049, alpha_051, alpha_053, alpha_054, alpha_084, alpha_101, return, return+-1]
Index: []

[0 rows x 26 columns]

open_time    0.0
open         0.0
high         0.0
low          0.0
close        0.0
volume       0.0
alpha_006    0.0
alpha_007    0.0
alpha_009    0.0
alpha_012    0.0
alpha_021    0.0
alpha_023    0.0
alpha_024    0.0
alpha_026    0.0
alpha_035    0.0
alpha_041    0.0
alpha_043    0.0
alpha_046    0.0
alpha_049    0.0
alpha_051    0.0
alpha_053    0.0
alpha_054    0.0
alpha_084    0.0
alpha_101    0.0
return       0.0
return+-1    0.0
dtype: float64

In [5]:
#查看了NAN
display(df[df.isna().any(axis=1)])

Empty DataFrame
Columns: [open_time, open, high, low, close, volume, alpha_006, alpha_007, alpha_009, alpha_012, alpha_021, alpha_023, alpha_024, alpha_026, alpha_035, alpha_041, alpha_043, alpha_046, alpha_049, alpha_051, alpha_053, alpha_054, alpha_084, alpha_101, return, return+-1]
Index: []

[0 rows x 26 columns]

计算talib经典因子(76个）

In [6]:
f = TalibFactors(df)
public_method_names = [method for method in dir(f) if callable(getattr(f, method)) if not method.startswith('_')]
for method in public_method_names:
    getattr(f, method)()
# f.df.to_csv("factors/"+'BTCUSDTone.csv')
df = f.df.copy()
df.head()

,open_time,open,high,low,close,volume,alpha_006,alpha_007,alpha_009,alpha_012,...,TEMA,TRANGE,TRIX,TSF,TYPPRICE,ULTOSC,VAR,WCLPRICE,WILLR,WMA
400,2019-10-02 09:20:00,8250.16,8252.00,8243.46,8244.44,67.170897,-0.051152,-1.0,7.96,-7.96,...,NaN,NaN,NaN,NaN,8246.633333,NaN,NaN,8246.0850,NaN,NaN
401,2019-10-02 09:25:00,8243.48,8255.00,8240.00,8253.58,60.542576,-0.213129,-1.0,5.56,5.56,...,NaN,15.00,NaN,NaN,8249.526667,NaN,NaN,8250.5400,NaN,NaN
402,2019-10-02 09:30:00,8253.65,8255.00,8237.02,8237.92,67.134976,-0.371379,-1.0,-9.14,9.14,...,NaN,17.98,NaN,NaN,8243.313333,NaN,NaN,8241.9650,NaN,NaN
403,2019-10-02 09:35:00,8237.88,8240.03,8232.00,8232.98,46.293967,0.064656,-1.0,15.66,15.66,...,NaN,8.03,NaN,NaN,8235.003333,NaN,NaN,8234.4975,NaN,NaN
404,2019-10-02 09:40:00,8232.95,8232.96,8225.35,8226.23,41.635286,-0.043117,-1.0,4.94,-4.94,...,NaN,7.63,NaN,NaN,8228.180000,NaN,88.52904,8227.6925,NaN,NaN

In [7]:
df.dropna( how='any',axis = 0,inplace = True)
df.head()

,open_time,open,high,low,close,volume,alpha_006,alpha_007,alpha_009,alpha_012,...,TEMA,TRANGE,TRIX,TSF,TYPPRICE,ULTOSC,VAR,WCLPRICE,WILLR,WMA
490,2019-10-02 16:50:00,8248.90,8250.00,8232.02,8232.16,66.924692,-0.006348,-1.0,7.27,7.27,...,8247.631352,17.98,-0.000760,8254.273736,8238.060000,41.112903,66.770264,8236.5850,-61.670372,8238.676538
491,2019-10-02 16:55:00,8232.21,8239.05,8213.08,8218.88,184.608185,0.052861,-1.0,15.34,-15.34,...,8243.302644,25.97,-0.000545,8246.350659,8223.670000,36.934433,161.725784,8222.4725,-82.756431,8237.739097
492,2019-10-02 17:00:00,8218.88,8224.78,8182.15,8210.96,535.013887,0.301032,-1.0,13.28,13.28,...,8238.045354,42.63,-0.000438,8234.893407,8205.963333,42.628925,273.983584,8207.2125,-67.574564,8236.298194
493,2019-10-02 17:05:00,8212.55,8218.17,8195.46,8208.75,123.807154,0.846150,-1.0,7.92,7.92,...,8233.024162,22.71,-0.000428,8225.964286,8207.460000,44.781907,209.408320,8207.7825,-70.061902,8234.730559
494,2019-10-02 17:10:00,8208.75,8225.34,8205.75,8221.70,68.069965,0.591308,-1.0,2.21,-2.21,...,8230.972294,19.59,-0.000455,8218.900549,8217.596667,47.526165,69.778720,8218.6225,-55.486775,8234.010430

In [8]:
df = df.drop(columns=["open_time"])
df.head()

,open,high,low,close,volume,alpha_006,alpha_007,alpha_009,alpha_012,alpha_021,...,TEMA,TRANGE,TRIX,TSF,TYPPRICE,ULTOSC,VAR,WCLPRICE,WILLR,WMA
490,8248.90,8250.00,8232.02,8232.16,66.924692,-0.006348,-1.0,7.27,7.27,-1.0,...,8247.631352,17.98,-0.000760,8254.273736,8238.060000,41.112903,66.770264,8236.5850,-61.670372,8238.676538
491,8232.21,8239.05,8213.08,8218.88,184.608185,0.052861,-1.0,15.34,-15.34,1.0,...,8243.302644,25.97,-0.000545,8246.350659,8223.670000,36.934433,161.725784,8222.4725,-82.756431,8237.739097
492,8218.88,8224.78,8182.15,8210.96,535.013887,0.301032,-1.0,13.28,13.28,1.0,...,8238.045354,42.63,-0.000438,8234.893407,8205.963333,42.628925,273.983584,8207.2125,-67.574564,8236.298194
493,8212.55,8218.17,8195.46,8208.75,123.807154,0.846150,-1.0,7.92,7.92,1.0,...,8233.024162,22.71,-0.000428,8225.964286,8207.460000,44.781907,209.408320,8207.7825,-70.061902,8234.730559
494,8208.75,8225.34,8205.75,8221.70,68.069965,0.591308,-1.0,2.21,-2.21,1.0,...,8230.972294,19.59,-0.000455,8218.900549,8217.596667,47.526165,69.778720,8218.6225,-55.486775,8234.010430

划分训练集和测试集

In [9]:
gp_x, gp_y, X_train_, Y_train_, X_train, Y_train, X_test, Y_test = get_gp_xy(df,int(len(df)*2/3))

print(len(gp_x),'\n')
print(len(gp_y),'\n')
print(len(X_train), '\n')
print(len(Y_train), '\n')

620194

620194

413462

413462

添加自定义函数

In [10]:
gp_add = gplearn.functions.make_function(function=gp_add, name='gp_add', arity=2)
gp_sub = gplearn.functions.make_function(function=gp_sub, name='gp_sub', arity=2)
gp_mul = gplearn.functions.make_function(function=gp_mul, name='gp_mul', arity=2)
gp_div = gplearn.functions.make_function(function=gp_div, name='gp_div', arity=2)
gp_max = gplearn.functions.make_function(function=gp_max, name='gp_max', arity=2)
gp_min = gplearn.functions.make_function(function=gp_min, name='gp_min', arity=2)
gp_sqrt = gplearn.functions.make_function(function=gp_sqrt, name='gp_sqrt', arity=1)
gp_log = gplearn.functions.make_function(function=gp_log, name='gp_log', arity=1)
gp_neg = gplearn.functions.make_function(function=gp_neg, name='gp_neg', arity=1)
gp_inv = gplearn.functions.make_function(function=gp_inv, name='gp_inv', arity=1)
gp_abs = gplearn.functions.make_function(function=gp_abs, name='gp_abs', arity=1)
gp_sin = gplearn.functions.make_function(function=gp_sin, name='gp_sin', arity=1)
gp_cos = gplearn.functions.make_function(function=gp_cos, name='gp_cos', arity=1)
gp_tan = gplearn.functions.make_function(function=gp_tan, name='gp_tan', arity=1)
gp_sig = gplearn.functions.make_function(function=gp_sig, name='gp_sig', arity=1)

delta = gplearn.functions.make_function(function=delta, name='delta', arity=1)
delay = gplearn.functions.make_function(function=delay, name='delay', arity=1)
# rank = make_function(function=rank, name='rank', arity=1)
# scale = make_function(function=scale, name='scale', arity=1)
sma = gplearn.functions.make_function(function=sma, name='sma', arity=1)
stddev = gplearn.functions.make_function(function=stddev, name='stddev', arity=1)
product = gplearn.functions.make_function(function=product, name='product', arity=1)
# ts_rank = make_function(function=ts_rank, name='ts_rank', arity=1)
ts_min = gplearn.functions.make_function(function=ts_min, name='ts_min', arity=1)
ts_max = gplearn.functions.make_function(function=ts_max, name='ts_max', arity=1)
ts_argmax = gplearn.functions.make_function(function=ts_argmax, name='ts_argmax', arity=1)
ts_argmin = gplearn.functions.make_function(function=ts_argmin, name='ts_argmin', arity=1)
ts_sum = gplearn.functions.make_function(function=ts_sum, name='ts_sum', arity=1)


init_function = [gp_add, gp_sub, gp_mul, gp_div, 
                 gp_sqrt, gp_log, gp_neg, gp_inv, 
                 gp_abs, gp_max, gp_min, gp_sin,
                 gp_cos, gp_tan, gp_sig]
user_function = [delta, delay,sma, stddev, product,ts_min, ts_max, ts_argmax, ts_argmin,ts_sum]

In [11]:
#定义适应度：非标正态百分位分析
"""
y:收益率标签
y_pred:公式计算出来的特性值
w:权重
"""
#KS分析
from sklearn import preprocessing
def my_metric(y, y_pred, w):
    def filter_extreme_percentile(series,min_ =0.025,max_ = 0.975): 
#         series = series.sort_values()
        q = series.quantile([min_,max_])
        return np.clip(series,q.iloc[0],q.iloc[1])
    
    x1 = pd.Series(y.flatten())
    x2 = pd.Series(y_pred.flatten()) 
    df = pd.concat([x1,x2],axis=1)
    df.columns = ['y','y_pred']
    df.dropna(inplace=True)
    
    df.y_pred = np.nan_to_num(df.y_pred.values)
    m = preprocessing.MinMaxScaler()
    df.y_pred = np.nan_to_num(filter_extreme_percentile(df.y_pred,min_ =0.025,max_ = 0.975))
    df.y_pred = np.nan_to_num(m.fit_transform(df.y_pred.values.reshape(-1,1)).reshape(-1,))
    return 1/(0.2-(df['y_pred'].quantile(0.85)-df['y_pred'].quantile(0.15)))

my_metric = gplearn.fitness.make_fitness(function=my_metric, greater_is_better=True)

In [ ]:
#运行这个要好长时间的我的电脑16线运行了2个多钟，在这里就不运行
#gplearn生成表达式
generations = 3 #迭代的次数
population_size = 20000  #种群规模(每一代个体数目即初始树的个数)20000
tournament_size = 10000  #迭代一次进入下一次迭代数量10000
hall_of_fame = 10000 #最适合的数量hall_of_fame值要大干等n_components值
n_components = 2000 #反回公式个数
random_state=666 #锁随机子可以随便写个整数
n_jobs = -1 #CPU核心个数.-1为全部核心
function_set = init_function + user_function#迭代的公式
metric = my_metric  #适应度的评价标准
init_method ='half and half'  #‘grow’公式和基础数据随机抽，'full'叶子抽基础数据，节点抽公式，‘half and half’ 前面两种各一半
init_depth =(6,15)  #分枝的的深度

gp = genetic.SymbolicTransformer(
                        feature_names=df.drop(columns=['return', 'return+-1']).columns,               #基础行情数据的变量名
                        function_set=function_set,          #迭代的函数公式
                        generations=generations,            #迭代的次数
                        metric=metric,
#                         metric='spearman',                  #适应度的评价标准
                        population_size=population_size,    #迭代的和序数
                        tournament_size=tournament_size,                
                        random_state=random_state,
                        hall_of_fame = hall_of_fame,                   
                        n_components = n_components,
                        n_jobs =n_jobs,
                        init_method=init_method,
                        init_depth = init_depth
                         )
gp.fit(X_train, Y_train)
# gp.fit(gp_x, gp_y)

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:86: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:86: RuntimeWarning: invalid value encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

In [ ]:
print(gp)